tensorflow-gpu
opencv-python
imgaug
tqdm
matplotlib
tensorboard
tensorboard-data-server
tensorboard-plugin-wit
wandb
scikit-image
imageio
pandas
gdown
chefboost
dlib>=19.20.0
boto3

torch
easydict
sklearn
matplotlib
pandas
scikit-image
menpo
prettytable
mxnet==1.6.0